@import './Colors.scss';
@import './Base.scss';
@import '../styles/Utilities.scss';

.band-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin-inline: auto;
    font-family: map-get($fonts, basic-font );


    .band-title{
        @include title-section
    }

    .band-content {
        padding-top: 15px;
    }

    .band-video-container{
        display: flex;
        justify-content: space-evenly; /* what a fantastic feature!*/
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 15px;
        margin-inline: auto;

        iframe{
            border: none;
            border-radius: map-get($b-rad, img );
            padding: 5px;
            // margin: auto;
        }
    }

}

@media screen and (min-width: 1024px){
    .band-container {
        .band-video-container {
            padding-top: 30px;
        }
    }
    
}
