@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import '../styles/Colors.scss';


* {
    margin: 0px;
    font-size: 18px;
    cursor: crosshair;
    /* it's probably wrong, but it fixed problem with wrapped 
    or not band-container in pianist component */
    // background-color: map-get($colors, background );

    @media screen and (min-width: 1024px) {
        /* 
            Fade-in animation for navigation
        */
        opacity: 0;
        animation: fade-in 450ms ease-in forwards;
        @keyframes fade-in {
            from {
            opacity: 0;
            }
            to {
            opacity: 1;
            }
        }
    }
}

/*
FONTS
*/

$fonts : (
    basic-font: ('Oswald', sans-serif),
);

$font-size: (
    big-title: 1.5rem,
    small-title: 1.1rem,
    content: 0.8rem
);
 
$fonts-weight : (
    slim: 200,
    medium: 400,
    fat: 600,
);