@import './Colors.scss';
@import './Base.scss';

/* 
SMALL SCREEN
*/
.bio-wrapper {
    background-color: map-get($colors, background );
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    // height: 100vh;
    width: 100%;
    padding: 0px;

    .bio-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 0px auto;
        padding: 10px 15px 20px;

        height: auto;
        font-family: map-get($fonts, basic-font );
        color: map-get($colors, primary );
        
        .bio-title {
            font-size: 1.5rem;
            border: solid map-get($colors, secondary );
            border-top: none;
            border-inline: none;
        }
    
        .bio-content{
            padding-top: 20px;
            padding-right: 10px;
            font-size: 0.8rem;
            overflow: auto;
            word-wrap: break-word;
        }

    }

    .bio-image__wrapper {
        height: auto;
        width: 100%;
        object-fit: contain;

        .bio-image__content {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

/* 
LARGE SCREEN
*/

@media screen and (min-width: 1024px) {

    .bio-container {
        height: 150px;
        width: 60%;
    }

    .bio-image__wrapper {
        max-width: 60%;
        margin: auto;
    }
}