$colors: (
    primary: rgb(34, 34, 34),
    background: rgb(245, 245, 245),
    hover: #3b313181,
    active: rgba(33, 23, 94, 0.507),
    error: #f84417,
    whiten: #fff,
    secondary: #F88017,
    bottle-green: #42ac79,
);