@import './Colors.scss';

.slides-container {
    height: 100%;
    position: relative;

    .left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        z-index: 1;
        .left-arrow__image {
            transition: 1s ease-in-out;
            cursor: pointer;
                &:hover {
                    transform:scale(1.2);
                }        
        }
    }
    .right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        z-index: 1;
        .right-arrow__image {
            transition: 1s ease-in-out;
            cursor: pointer;
                &:hover {
                    transform:scale(1.2);
                }       
        }
    }

    .slides-container__item {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-position: center;
        background-size: cover;
        // upgrade this transition in future!
        transition: 0.4s ease-in-out;
        
        .dots-container{
            // centered position
            position: absolute;
            bottom: 20px;
            left: 50%; /* This gets beginning of dots container on middle of parrent */
            transform: translateX(-50%); /* Takes this container 50% on left of its width */
            display: flex;
            flex-direction: row;
            
            .dots-container__items{
 
                svg {
                    padding-inline: 5px;
                    .dot-image {
                        cursor: pointer;
                        &:active {
                            fill: map-get($colors, secondary);
                        }
                        &:focus {
                            fill: map-get($colors, secondary);
                        }
                    }
                }
            }
        }
    }
}
