// ORANGE UNDERSCORE
@mixin title-section {
    font-size: 1.5rem;
    border: solid map-get($colors, secondary );
    border-top: none;
    border-inline: none;
};

//  GRAY HOVER
@mixin hover {
    &:hover {
        color: map-get($colors, hover )
    }
};