@import '../styles/Colors.scss';
@import '../styles/Base.scss';
@import '../styles/Utilities.scss';

.worksnav-container{
    display: flex;
    justify-content: center;
    .worksnav-nav{
        display: flex;
        justify-content: space-evenly; /* what a fantastic feature!*/
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: map-get($fonts, basic-font );
        list-style: none;
        padding: 10px 10px;
        width: 70%;

        .worksnav-nav__item {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: map-get($colors, primary );
            padding-inline: 5px;
            font-size: 0.8rem;
            text-wrap: nowrap;
            padding-block: 15px;
            cursor: pointer;
            // z-index: 2;

            @include hover;
        }

        .active {
            color: map-get($colors, secondary );
        }
    }
}

/*
    LARGE SCREEN
*/

@media screen and (min-width: 1024px) {
    .pianonav-nav{
        width: 50vw;
    }
}