@import '../styles/Colors.scss';
@import '../styles/Base.scss';

.works-wrapper {
    background-color: map-get($colors, background );
    height: 100%;
    min-height: 100vh;
    padding-top: 35px;
    display: flex;
    flex-direction:column;
    
    .works-image{
        width: min(70%, 800px);
        height: auto;
        margin: auto;
        margin-top: 35px;

        .works-image__content {
            width: 100%;
            height: 100%;
            border-radius: 8%;
            border: solid 2px map-get($colors, secondary );
        }
    }
}